<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>login</title>
</head>

<body>
    <div class="container">
        <form action="/forgotPassword" method="post">
            <h1>Enter your email for reset</h1>
            <div>
                <label for="">Email</label>
                <input type="text" name="email" placeholder="Type your email">
            </div>
            <button type="submit">send</button>
        </form>
    </div>
</body>

</html>