<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>login</title>
</head>

<body>
    <div class="container">
        <form action="/login" method="post">
            <h1>login</h1>
            <div>
                <label for="">Email</label>
                <input type="text" name="email" placeholder="Type your email">
            </div>
            <div>
                <label for="">Password</label>
                <input type="password" name="password" placeholder="Type your password">
            </div>
            <button type="submit">login</button>
            <a href="/forgotPassword">Forgot password?</a>
        </form>
    </div>
    <div id="title">Discover a whole new experience</div>
</body>

</html>